<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="adminReview.css" />
    <link rel="stylesheet" type="text/css" href="../../style/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../style/HeaderFooter.css"
    />
  </head>
  <body class="body">
    <!-- Header -->
    <div class="main">
      <section class="section">
        <article class="my_shopping">
          <h1>후기내역 조회</h1>
          <div class="title">
            <div class="first">주문 정보</div>
            <div>주문 금액(수량)</div>
            <div>주문 상태</div>
          </div>
        </article>
      </section>

      <!-------- footer -------->
    </div>
    <script src="adminReview.js" type="module"></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
