<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link href="../../style/reset.css" rel="stylesheet" type="text/css" />
    <link
      href="../../style/HeaderFooter.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="adminProductList.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="body">
    <!--Header-->
    <div class="main">
      <div class="section_box"></div>

      <!-------- footer -------->
    </div>
    <script src="adminProductList_bundle.js" type="module" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
