<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="account.css" />
    <link rel="stylesheet" type="text/css" href="../../style/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../style/HeaderFooter.css"
    />
  </head>
  <body class="body">
    <!-- Header -->
    <div class="main">
      <!-------- mypage_info -------->
      <section class="section">
        <article class="basic_info">
          <h1>기본 정보</h1>
          <div class="container">
            <div class="title">이름</div>
            <div class="content">
              <span class="name"></span>
            </div>
          </div>

          <div class="container">
            <div class="title">휴대전화</div>
            <div class="content"><span class="phoneNum"></span></div>
          </div>

          <div class="container">
            <div class="title">이메일</div>
            <div class="content"><span class="email"></span></div>
          </div>

          <div class="container user_address">
            <div class="title">주소</div>
            <div class="content">
              <span class="address"></span>
            </div>
          </div>
          <div class="btn_container">
            <button class="update">정보수정</button>
          </div>
        </article>
      </section>
      <!-------- footer -------->
    </div>
    <script type="module" src="account.js" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
